In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

import jupyter_dash
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
import plotly.graph_objects as go
from plotly.subplots import make_subplots

from datetime import datetime as dt, date, time, timedelta

from plotly_calplot import calplot

# https://github.com/d3/d3-3.x-api-reference/blob/master/Time-Formatting.md#format

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

In [2]:
# pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('data/vitals.csv')
df

,Date,Temperature,Respiration Rate,Vitals Heart Rate,Blood Pressure Systolic,Blood Pressure Diastolic,Mean Arterial Pressure
0,2022-10-30,96.400000,12.000000,59.000000,137.000000,80.000000,99.000000
1,2022-10-31,96.100000,8.000000,54.000000,127.000000,75.000000,92.333333
2,2022-11-01,96.200000,12.000000,79.000000,137.000000,72.000000,93.666667
3,2022-11-02,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
4,2022-11-03,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
...,...,...,...,...,...,...,...
152,2023-03-31,97.200000,11.000000,60.000000,148.000000,75.000000,99.333333
153,2023-04-01,97.700000,12.000000,65.000000,142.000000,70.000000,94.000000
154,2023-04-02,97.600000,11.000000,97.000000,138.000000,82.000000,100.666667
155,2023-04-03,97.200000,9.000000,70.000000,141.000000,85.000000,103.666667
156,2023-04-04,97.000000,10.000000,63.000000,146.000000,76.000000,99.333333

In [4]:
df = df.drop(df.index[0:14])
df

,Date,Temperature,Respiration Rate,Vitals Heart Rate,Blood Pressure Systolic,Blood Pressure Diastolic,Mean Arterial Pressure
14,2022-11-13,96.9,10.0,58.0,132.0,78.0,96.000000
15,2022-11-14,96.9,12.0,76.0,126.0,73.0,90.666667
16,2022-11-15,96.8,14.0,57.0,135.0,74.0,94.333333
17,2022-11-16,97.1,14.0,63.0,141.0,69.0,93.000000
18,2022-11-17,96.8,14.0,59.0,131.0,74.0,93.000000
...,...,...,...,...,...,...,...
152,2023-03-31,97.2,11.0,60.0,148.0,75.0,99.333333
153,2023-04-01,97.7,12.0,65.0,142.0,70.0,94.000000
154,2023-04-02,97.6,11.0,97.0,138.0,82.0,100.666667
155,2023-04-03,97.2,9.0,70.0,141.0,85.0,103.666667
156,2023-04-04,97.0,10.0,63.0,146.0,76.0,99.333333

In [5]:
df = df.drop(df.index[120:])
df

,Date,Temperature,Respiration Rate,Vitals Heart Rate,Blood Pressure Systolic,Blood Pressure Diastolic,Mean Arterial Pressure
14,2022-11-13,96.900000,10.000000,58.000000,132.000000,78.000000,96.000000
15,2022-11-14,96.900000,12.000000,76.000000,126.000000,73.000000,90.666667
16,2022-11-15,96.800000,14.000000,57.000000,135.000000,74.000000,94.333333
17,2022-11-16,97.100000,14.000000,63.000000,141.000000,69.000000,93.000000
18,2022-11-17,96.800000,14.000000,59.000000,131.000000,74.000000,93.000000
...,...,...,...,...,...,...,...
129,2023-03-08,96.600000,12.000000,74.000000,130.000000,76.000000,94.000000
130,2023-03-09,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
131,2023-03-10,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
132,2023-03-11,96.200000,10.000000,64.000000,131.000000,71.000000,91.000000
133,2023-03-12,96.800000,10.000000,59.000000,136.000000,75.000000,95.333333

In [6]:
vitals_df_tail = df.head(5)
vitals_df_head_tail = vitals_df_tail.append(df.tail(5))
vitals_df_head_tail

/tmp/ipykernel_43683/685867513.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vitals_df_head_tail = vitals_df_tail.append(df.tail(5))

,Date,Temperature,Respiration Rate,Vitals Heart Rate,Blood Pressure Systolic,Blood Pressure Diastolic,Mean Arterial Pressure
14,2022-11-13,96.900000,10.000000,58.000000,132.000000,78.000000,96.000000
15,2022-11-14,96.900000,12.000000,76.000000,126.000000,73.000000,90.666667
16,2022-11-15,96.800000,14.000000,57.000000,135.000000,74.000000,94.333333
17,2022-11-16,97.100000,14.000000,63.000000,141.000000,69.000000,93.000000
18,2022-11-17,96.800000,14.000000,59.000000,131.000000,74.000000,93.000000
129,2023-03-08,96.600000,12.000000,74.000000,130.000000,76.000000,94.000000
130,2023-03-09,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
131,2023-03-10,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
132,2023-03-11,96.200000,10.000000,64.000000,131.000000,71.000000,91.000000
133,2023-03-12,96.800000,10.000000,59.000000,136.000000,75.000000,95.333333

In [7]:
vitals_df_head_tail.to_csv('data/vitals_df_head_tail.csv', index=None, encoding='utf-8')

In [48]:
vitals_describe = df.describe()
vitals_describe

,Temperature,Respiration Rate,Vitals Heart Rate,Blood Pressure Systolic,Blood Pressure Diastolic,Mean Arterial Pressure
count,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000
mean,96.640897,10.840385,60.637821,130.801282,72.367308,91.845299
std,0.436816,2.238710,8.505512,5.372704,4.218625,3.753713
min,95.800000,7.000000,46.000000,112.000000,60.000000,82.000000
25%,96.300000,9.000000,55.000000,128.000000,70.000000,89.666667
50%,96.600000,10.000000,59.000000,131.000000,72.707692,92.333333
75%,96.900000,12.000000,63.250000,134.000000,75.000000,94.333333
max,98.000000,18.000000,88.000000,143.000000,83.000000,99.333333

In [49]:
vitals_describe.to_csv('data/vitals_describe.csv', index=None, encoding='utf-8')

In [89]:
fig = px.line(df, x=df['Date'], y=['Blood Pressure Systolic', 'Blood Pressure Diastolic'])
fig.show(renderer="browser")

# Scatterplots

In [132]:
def make_scatter_dashboard(series):
    
    x = df['Date']
    y = series
    rolling = 7
    y2 = round(y.rolling(rolling).mean(), 2)   
    title= f"{y.name} Over Time"
    
    app = jupyter_dash.JupyterDash(__name__, external_stylesheets=external_stylesheets, title=f"{title} Dashboard")
    
    fig = go.Figure(data=[go.Scatter(x=x, y=y, name=f'{y.name}', mode='markers', #marker_color='red'
                                    ),
                          go.Scatter(x=x, y=y2, name=f"{rolling} Day Rolling Average {y.name}", marker_color='blue')])

    fig.update_layout(title=dict(text=title, 
                                 yanchor="top",
                                 y=.85,
                                 xanchor="left",
                                 x=.075),
                      legend=dict(orientation="h",
                                  yanchor="bottom",
                                  y=1.02,
                                  xanchor="right",
                                  x=1),
                      width=1000)

    fig.update_xaxes(title_text=f"{x.name}")
    fig.update_yaxes(title_text=f"{y.name}")

    app.layout = html.Div([
        dcc.Graph(
            figure=fig
        )
    ])
    fig.write_image(f"data/images/vitals/scatterplots/{title.replace('/', '_')}.png")

    if __name__ == '__main__':
        app.run_server(mode='external', port=8030, debug=False)

In [130]:
df

,Date,Temperature,Respiration Rate,Vitals Heart Rate,Blood Pressure Systolic,Blood Pressure Diastolic,Mean Arterial Pressure
14,2022-11-13,96.900000,10.000000,58.000000,132.000000,78.000000,96.000000
15,2022-11-14,96.900000,12.000000,76.000000,126.000000,73.000000,90.666667
16,2022-11-15,96.800000,14.000000,57.000000,135.000000,74.000000,94.333333
17,2022-11-16,97.100000,14.000000,63.000000,141.000000,69.000000,93.000000
18,2022-11-17,96.800000,14.000000,59.000000,131.000000,74.000000,93.000000
...,...,...,...,...,...,...,...
129,2023-03-08,96.600000,12.000000,74.000000,130.000000,76.000000,94.000000
130,2023-03-09,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
131,2023-03-10,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
132,2023-03-11,96.200000,10.000000,64.000000,131.000000,71.000000,91.000000
133,2023-03-12,96.800000,10.000000,59.000000,136.000000,75.000000,95.333333

In [58]:
make_scatter_dashboard(df['Temperature'])

Dash app running on http://127.0.0.1:8030/

In [68]:
make_scatter_dashboard(df['Respiration Rate'])

Dash app running on http://127.0.0.1:8030/

In [69]:
make_scatter_dashboard(df['Vitals Heart Rate'])

Dash app running on http://127.0.0.1:8030/

In [70]:
make_scatter_dashboard(df['Mean Arterial Pressure'])

Dash app running on http://127.0.0.1:8030/

In [122]:
make_scatter_dashboard(df['Blood Pressure Systolic'])

Dash app running on http://127.0.0.1:8030/

In [131]:
make_scatter_dashboard(df['Blood Pressure Diastolic'])

Dash app running on http://127.0.0.1:8030/

In [120]:
# https://plotly.com/python/multiple-axes/
def make_dashboard_with_secondary_axis(series1, series2, rolling, value_range1, value_range2):
    
    x = df['Date']
    y = series1
    y2= series2
    y_rolling = round(y.rolling(rolling).mean(), 2)
    y2_rolling = round(y2.rolling(rolling).mean(), 2)
    title = f"{y.name} and {y2.name} Over Time"
    
    app = jupyter_dash.JupyterDash(__name__, external_stylesheets=external_stylesheets, title=f"{title} Dashboard")
    
    app.layout = dcc.Loading(
        html.Div([
            dcc.Graph(id="graph"),
            html.P("Axes:"),
            dcc.RadioItems(
                id='radio',
                value='Secondary',
                options=[{'label': x, 'value': x}
                         for x in ['Primary', 'Secondary']]
            )
        ]))

    @app.callback(
        Output("graph", "figure"), 
        [Input("radio", "value")])

    def display_(radio_value):

        # Create figure with secondary y-axis
        fig = make_subplots(specs=[[{"secondary_y": True}]])
        
        # y
        fig.add_trace(
            go.Scatter(x=x, 
                       y=y, 
                       name=f'{y.name}', 
                       marker_color='blue', 
                       mode='markers', 
                       #visible='legendonly'
                      ), 
            secondary_y=False)
        # y rolling
        fig.add_trace(
            go.Scatter(x=x, 
                       y=y_rolling, 
                       name=f"{rolling} Day Rolling Average {y.name}", 
                       marker_color='blue',
                       yaxis='y2'), 
            secondary_y=False)

        # y2
        fig.add_trace(
            go.Scatter(x=x, 
                       y=y2, 
                       name=f'{y2.name}', 
                       marker_color='red', 
                       mode='markers', 
                       #visible='legendonly',
                       yaxis='y3'), 
            secondary_y=radio_value == 'Secondary')
        # y2 rolling
        fig.add_trace(
            go.Scatter(x=x, 
                       y=y2_rolling, 
                       name=f"{rolling} Day Rolling Average {y2.name}", 
                       marker_color='red',
                       yaxis='y4'), 
            secondary_y=radio_value == 'Secondary')
        
        # Set x-axis title
        fig.update_xaxes(title_text=f"{x.name}")

        # Set y-axes titles
        fig.update_yaxes(
            title_text=f"{y.name}",
            range=value_range1,
            secondary_y=False,
            autorange=False)
        fig.update_yaxes(
            title_text=f"{y2.name}",
            range=value_range2,
            secondary_y=True,
            showgrid=False,
            autorange=False)
        
        fig.update_layout(title=dict(text=title, 
                                 yanchor="top",
                                 y=.95,
                                 xanchor="left",
                                 x=.075),
                          # legend=dict(orientation="h",
                          #         yanchor="bottom",
                          #         y=1.02,
                          #         xanchor="right",
                          #         x=1),
                         width=1000,
                         height=1000
                         )
                          
        return fig

    fig.write_image(f"data/images/vitals/scatterplots/{title.replace('/', '_')}.png")
    
    if __name__ == '__main__':
        app.run_server(mode='external', debug=True, port=8061)

In [121]:
make_dashboard_with_secondary_axis(series1=df['Blood Pressure Systolic'], 
                                   series2=df['Blood Pressure Diastolic'], 
                                   rolling=7, 
                                   value_range1=[50, 150],
                                   value_range2=[50, 150])

Dash app running on http://127.0.0.1:8061/

# Histograms

In [136]:
def make_hist_dashboard(series):
    title = f"{series.name} Histogram"
    app = jupyter_dash.JupyterDash(__name__, external_stylesheets=external_stylesheets)
    
    fig = go.Figure(data=[go.Histogram(x=series)])
    fig.update_xaxes(title_text=f"{series.name} Level")
    fig.update_yaxes(title_text=f"{series.name} Count")
    fig.update_layout(title=dict(text=title, 
                                 yanchor="top",
                                 y=.85,
                                 xanchor="left",
                                 x=.075),
                      legend=dict(orientation="h",
                                  yanchor="bottom",
                                  y=1.02,
                                  xanchor="right",
                                  x=1),
                     bargap=0.1)

    app.layout = html.Div([
        dcc.Graph(
            figure=fig
        )
    ])
    title = title.replace('/', '_').replace('<br>', '')
    fig.write_image(f"data/images/vitals/histograms/{title}.png")

    if __name__ == '__main__':
        app.run_server(mode='external', debug=True, port=8081)

In [84]:
make_hist_dashboard(df['Temperature'])

Dash app running on http://127.0.0.1:8081/

In [85]:
make_hist_dashboard(df['Respiration Rate'])

Dash app running on http://127.0.0.1:8081/

In [86]:
make_hist_dashboard(df['Vitals Heart Rate'])

Dash app running on http://127.0.0.1:8081/

In [153]:
make_hist_dashboard(df['Mean Arterial Pressure'])

Dash app running on http://127.0.0.1:8081/

In [87]:
make_hist_dashboard(df['Blood Pressure Systolic'])

Dash app running on http://127.0.0.1:8081/

In [135]:
make_hist_dashboard(df['Blood Pressure Diastolic'])

Dash app running on http://127.0.0.1:8081/

In [79]:
def make_hist_dashboard_with_bins(series, value_range, bins, tickangle):
    title = f"{series.name} Histogram"
    app = jupyter_dash.JupyterDash(__name__, external_stylesheets=external_stylesheets, title=f"{title} Dashboard")
    
    fig = go.Figure(data=[go.Histogram(x=series)])
    
    fig.update_layout(title=dict(text=title, 
                                 yanchor="top",
                                 y=.85,
                                 xanchor="left",
                                 x=.075),
                      legend=dict(orientation="h",
                                  yanchor="bottom",
                                  y=1.02,
                                  xanchor="right",
                                  x=1),
                     bargap=0.1)

    fig.update_traces(xbins_start=min(series), xbins_size=bins, selector=dict(type='histogram'))
    fig.update_xaxes(tickmode='array', ticks="outside", tickson="boundaries", 
                     ticktext=np.arange(value_range[0], value_range[1], 1), 
                     tickvals=np.arange(value_range[0], value_range[1], 1), 
                     range=value_range, 
                     tickangle=tickangle)
    fig.update_xaxes(title_text=f"{series.name} Level")
    fig.update_yaxes(title_text=f"{series.name} Count")
    
    app.layout = html.Div([
       dcc.Graph(
           figure=fig
       )
    ])

    title = title.replace('/', '_').replace('<br>', '')
    fig.write_image(f"data/images/vitals/histograms/{title}.png")

    if __name__ == '__main__':
       app.run_server(mode='external', debug=False, port=8072)

In [80]:
make_hist_dashboard_with_bins(df['Temperature'], [95.5, 98], .1, 0)

Dash app running on http://127.0.0.1:8072/

# Github Heatmaps

In [150]:
colors='#636EFA' 
# colors='#EF553B'

In [151]:
# https://python.plainenglish.io/interactive-calendar-heatmaps-with-plotly-the-easieast-way-youll-find-5fc322125db7
# https://community.plotly.com/t/colored-calendar-heatmap-in-dash/10907/21
# https://github.com/brunorosilva/plotly-calplot


def make_github_heatmap_dashboard(df=df, 
                            series=None,
                            colors=colors, **kwargs):

    df['Date'] = pd.to_datetime(df['Date'])

    title = f'{series} Timeline Heatmap'

    fig = calplot(
             df,
             x='Date',
             y=series,
             dark_theme=True,
             years_title=True,
             showscale=True,
             colorscale=[(0.00, "white"), (1.00, colors)],
             title=title,
             month_lines_width=3, 
             month_lines_color="#444"
    )

    fig.update_layout(**kwargs)
    title = title.replace('/', '_')
    fig.write_image(f"data/images/vitals/github_heatmaps/{title}.png")

    app = jupyter_dash.JupyterDash(__name__,
                                    external_stylesheets=external_stylesheets,
                                    title=f"{title}")
                  
    app.layout = html.Div([
        dcc.Graph(
            figure=fig,
            
            #https://plotly.com/python/setting-graph-size/
            #https://stackoverflow.com/questions/46287189/how-can-i-change-the-size-of-my-dash-graph
            style={'height': '98vh',
                   'width': '98vw',
                  },
            
    #         style={'height': '950px',
    #                'width': '1600px',
    #               },
        ),
    ])
    
    if __name__ == '__main__':
        app.run_server(mode='external', port=8111, debug=False)

In [152]:
for col in df.columns[5:6]:
    print(col)
    make_github_heatmap_dashboard(df=df, colors=colors, series=col, width=1600, height=1600, 
                                  title=dict(yanchor="top",y=.99, xanchor="left", x=.05))

Blood Pressure Diastolic
Dash app running on http://127.0.0.1:8111/

In [148]:
df

,Date,Temperature,Respiration Rate,Vitals Heart Rate,Blood Pressure Systolic,Blood Pressure Diastolic,Mean Arterial Pressure
14,2022-11-13,96.900000,10.000000,58.000000,132.000000,78.000000,96.000000
15,2022-11-14,96.900000,12.000000,76.000000,126.000000,73.000000,90.666667
16,2022-11-15,96.800000,14.000000,57.000000,135.000000,74.000000,94.333333
17,2022-11-16,97.100000,14.000000,63.000000,141.000000,69.000000,93.000000
18,2022-11-17,96.800000,14.000000,59.000000,131.000000,74.000000,93.000000
...,...,...,...,...,...,...,...
129,2023-03-08,96.600000,12.000000,74.000000,130.000000,76.000000,94.000000
130,2023-03-09,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
131,2023-03-10,96.660769,10.784615,61.253846,131.615385,72.707692,92.343590
132,2023-03-11,96.200000,10.000000,64.000000,131.000000,71.000000,91.000000
133,2023-03-12,96.800000,10.000000,59.000000,136.000000,75.000000,95.333333